* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    background: linear-gradient(to right bottom, #000, #131313, #000);
}

section {
    height: 100%;
    width: 27%;
    margin: auto;
    overflow: hidden;
}

.reels-all {
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.reels-all::-webkit-scrollbar {
    display: none;
}

.reel {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .mute-button {
    position: absolute;
    top: 1%;
    right: 1%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #33333382;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reel .mute-button i {
    font-size: 1.2rem;
    color: #fff;
    pointer-events: none;
}

.reel .bottom {
    padding: 1rem 1rem;
    width: 100%;
    background: linear-gradient(transparent, #000000ac, #000000d7);
    position: absolute;
    bottom: 0;

}

.bottom .creator {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.creator img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.creator h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.creator button {
    padding: 0.2rem 0.4rem;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.bottom h6 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.4rem;
}

.right {
    position: absolute;
    bottom: 9%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 0.7rem;
    /* background: linear-gradient(to right, transparent, #00000065); */
}

.right>div {
    width: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.right>div .icons {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}

.right>div h6 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    pointer-events: none;
}

.right>div h4 {
    pointer-events: none;
}

.love {
    color: red;
}